lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

# Build
public/css/main.css

# Coverage reports
coverage

# API keys and secrets
.env

# Dependency directory
node_modules
bower_components

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*

.build
.serverless
.serverless.env.yml

# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# production
/build
/.build

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

\.idea/

\.vscode/
serverless\.env\.yml

/docs
